.body-about{
  background:url(images/bg1.jpg);
  background-attachment: fixed;
  width: 100%;
}

#main-header{
  width: 100%;
  height: 100px;
  background-color: #5F9EA0;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
}

#logo{
  height: 90px;
  width: 500px;
  float: left;
  margin-left: 50px;
  margin-top: 4px;
  background-image:url(images/logo.png);
}

#link2{
  height: auto;
  width: 40%;
}

ul > li{
  display: inline-block;
  font-size: 30px;
  margin: 10px;
  color: white;
  float: right;
  margin-right: 30px;
  padding-top: 25px;
}

li:hover{
  font-size: 31px;
  color: #008B8B;
  box-shadow: white;
}

#code-fellows-pic{
  width: 50px;
  height: 50px;
}

#main-container{
  width: 1020px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-top:60px;
  padding-bottom: 50px;
  background-image: url(images/bg3.jpg);
}

#why-buttoneers{
  font-size: 20px;
  width: 400px;
  height: 150px;
  position: relative;
  margin-top: 70px;
  margin-left: 20px;
  text-align: left;
  display: block;
}

#about-Kevin{
  width: 300px;
  height: 150px;
  float: left;
  display: inline-block;
}

#about-Philip{
  width: 300px;
  height: 150px;
  display: inline-block;
  float: right;
}

#megaman-info:hover{
  box-shadow: 0px 0px 15px #00FFFF;
}

#button-container{
  width: 300px;
  height: 150px;
  background-color: #E6E6FA;
  display: block;
  margin: 0 auto;
  margin-top:275px;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #7FFFD4;
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
}

#button-container:hover{
  box-shadow: 0px 0px 60px #00FFFF;
}

#generator-button{ /* takes you to the generator page*/
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 510px;
  height: 400px;
  background-color: #B0E0E6;
  position: relative;
  border-radius: 30px;
  box-shadow: 10px 10px 20px #888888;
  clear: both;
}

article > p{
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}

.about-info{
  font-size: 14px;
  line-height: 30px;
  display: block;
  margin: 0 auto;
}

#kid-pic{
  display: block;
  margin: 0 auto;
  box-shadow: 0px 0px 40px blue;
}

#joinus-pic{
  margin-left: -155px;
}

#kid-image{
  display: block;
  margin: 0 auto;
  height: 300px;
  margin-bottom:50px;
  opacity: .8;
}

.copyrights{
  text-align: center;
  font-size: 20px;
  color: white;
}

footer > p{
  padding-top: 10px;
}

.blue-links{
  color: #191970;
}

#message-me{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#about-return{
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: black;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}

#about-register-{
  width: 400px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
}

#about-button-register{
  width: 200px;
  height: 60px;
  display: block;
  margin: 0 auto;
  opacity: .8;
  padding-top: 45px;
}

#about-button-register:hover{
  width: 210px;
  height: 61px;
  cursor: pointer;
  opacity: 1;
}
/*.clearfix:after{
content:".";
visibility: hidden;
display: block;
height: 0;
clear: both;
} */
#contact-pic{
  width: 110px;
  height: 110px;
  float: left;
  margin-top: 25px;
  margin-left: 20px;
}

#aboutus-pic{
  padding-top: 50px;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

h3{
  font-size: 30px;
}

.bold{
  font-weight: bold;
}

.Italic{
  font-style: italic;
}

.green-style{
  display: block;
  background-color: #3D4C53;
  width: 100%;
  height: 10px;
  position: fixed;
  margin-top: 100px;
  z-index: 100;
}

#gen{
  margin-top: 80px;
}

section > h1{
  font-size: 40px;
}

fieldset > label{
  font-size: 25px;
  line-height: 50px;
  margin-right: 40px;
}

#button-text{
  width: 200px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  border-color: #3D4C53;
}

#button-text:hover{
  color:blue;
  box-shadow: 0px 0px 25px #3D4C53;
  margin-top: -5px;
}

textarea{
  border-color: #3D4C53;
  display: inline block;
  margin: 0 auto;
}

#output-html{
  float: left;
  border-color: #3D4C53;
  border:2px solid;
  box-shadow: 0px 0px 20px blue;
  background-color: #D1D2D5;
}

#output-css{
  float: right;
  border-color: #3D4C53;
  border:2px solid;
  box-shadow: 0px 0px 20px blue;
  background-color: #D1D2D5;
}

#textarea-container{
  width: 100%;
  height: 30px;
  display: block;
}

#html-code{
  margin-top: 50px;
  float: left;
  font-size: 35px;
  color: ;
  margin-left: 100px;
  color: #3D4C53;
}

#css-code{
  margin-top: 50px;
  float: right;
  font-size: 35px;
  color: ;
  margin-right: 115px;
  color: #3D4C53;
}

#label-container{
  width: 100%;
  margin-top:20px;
  height: 400px;
  clear: both;
}

#output-html{
  margin-left: 20px;
}

#output-css{
  margin-right: 20px;
}

#final-output{
  margin-top: 70px;
  width: 100%;
  margin-bottom: 50px;
  height: 40px;
  margin-left: 435px;
}

#about-us-container{
  width: 100%;
  height:400px;
}

.about-left{
  height: 400px;
  width: 30%;
  display: inline-block;
  float: left;
  margin-left: 50px;
  font-size: 30px;
  text-align: center;
}

.about-right{
  height: 400px;
  width: 30%;
  display: inline-block;
  float: right;
  margin-right: 50px;
  font-size: 30px;
  text-align: center;
}

.about-center{
  height: 400px;
  width: 30%;
  display: inline-block;
  clear: both;
  font-size: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

article > p{
  font-size: 16px;
  text-align: left;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #5F9EA0;
  bottom: 0;
  left: 0;
}
