.standard {
  border-radius: 4px;
  background: #ccc;
  color: #fff;
  display: inline-block;
  box-shadow: 10px 10px 5px #888888;
  font-family: Arial, sans-serif;
  padding: 0 3em;
  text-decoration: none;
}

.round-edges {
  border-radius: 25px;
  background: #ccc;
  box-shadow: 10px 10px 5px #888888;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  display: inline-block;
  padding: 0 3em;
}

.increase-length {
  background: #ccc;
  border-radius: 4px;
  box-shadow: 10px 10px 5px #888888;
  color: #fff;
  font-family: Arial, sans-serif;
  width: 15%;
  text-align: center;
  display: inline-block;
  padding: 0 4em;
}

.large-button {
  background: #ccc;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 10px 10px 5px #888888;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 120%;
  padding: 0 3em;
  text-decoration: none;
}

.underline {
  border-radius: 4px;
  background: #ccc;
  display: inline-block;
  box-shadow: 10px 10px 5px #888888;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 0 3em;
  text-decoration: underline;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}


